header {
    color: red;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding: 2px;
    margin: 2px;
    }

body {
    font-family: Cochin;
    color: grey;
    background: goldenrod;
    font-size: 18px;
    margin: 0px;
    padding: 10px;
   
    }

section {
    width: 495px;
    height: 230px;
    background: orangered;
    }

article {
    font-size: 10px;
    text-align: left;
    color: green;
    background: pink;
    float: left;
    margin: 0;
    width: 75%;
    
    }

aside {
    text-align: right;
    color: blue;
    background: magenta;
    float: right;
    margin: 0;
    width: 20%;
    height: 185px;

    }

footer {
    
    align-content: center;
    text-align: center;
    margin-top: 10px;
    position: relative;    
    }

h1, h4, h5 {
    border: 1px solid black;
    background-color: white;
    font-family: Helvetica;
    color: red;
}

nav {
    content: center;
    text-align: center;
    border: 3px solid black;
    background: yellow;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10;
    margin: 1px;
}